---
import { getCollection } from 'astro:content';
import MainLayout from '../../../layouts/main.astro';
import JobCard from '../../../components/job-card/job-card.astro';
import DepartmentList from '../../../components/department-list/department-list.astro';

export async function getStaticPaths() {
	const allJobs = await getCollection('jobs');

	return [
		{ params: { department: 'engineering' }, props: { jobs: allJobs } },
		{ params: { department: 'sales' }, props: { jobs: allJobs } },
		{ params: { department: 'marketing' }, props: { jobs: allJobs } }
	];
}

const { department } = Astro.params;
const { jobs } = Astro.props;
const filteredJobsByDepartment = jobs.filter((job) => job.data.department?.includes(department));
const departments = [...new Set(jobs.map((job) => job.data.department).flat())];
---

<MainLayout title=`{your company} jobs - ${department}`>
	<h1 class="mb-10 text-2xl font-semibold tracking-wide dark:text-white">
		Job Openings in {department}
	</h1>
	<DepartmentList departments={departments} />
	<div class="grid grid-cols-1 gap-10 md:grid-cols-1">
		{filteredJobsByDepartment.map((job) => <JobCard job={job} />)}
	</div>
</MainLayout>
