---
import { getCollection } from 'astro:content';
import MainLayout from '../layouts/main.astro';
import JobCard from '../components/job-card/job-card.astro';

const jobs = await getCollection('jobs');

const jobsSortedByDate = jobs.sort(
	(a, b) => Date.parse(a.data.pubDate) - Date.parse(b.data.pubDate)
);
---

<MainLayout title="jobs board home page">
	<h1 class="mb-10 text-2xl font-semibold tracking-wide">Job Openings</h1>
	<div class="grid grid-cols-1 gap-10 md:grid-cols-1">
		{jobsSortedByDate.map((job) => <JobCard job={job} />)}
	</div>
	<div></div>
</MainLayout>

<style is:global>
	body {
		font-family: 'Spline Sans', system-ui, sans-serif;
	}
</style>
