---
interface Props {
	departments: string[];
}

const { departments } = Astro.props;

departments.unshift('all jobs');
---

<div class="my-10 flex flex-wrap gap-4">
	{
		departments.map((department) => (
			<a
				href={department === 'all jobs' ? '/' : `/jobs/department/${department}`}
				class="cursor-pointer rounded-md border-2 border-slate-800 p-2 text-center text-sm font-semibold tracking-wider text-slate-800"
			>
				{department}
			</a>
		))
	}
</div>
