---
import { ViewTransitions } from 'astro:transitions';
import Nav from '../components/nav/nav.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<html lang="en" transition:persist>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content=`your company name jobs board - ${title}` />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="bg-slate-50 dark:bg-slate-900">
		<div class="mx-auto max-w-3xl p-2">
			<Nav />
			<div class="px-2 pb-20">
				<slot />
			</div>
		</div>
	</body>
</html>
